<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.rest.empadd.dao.EmpAddDao">

    <select id="getAllEmpAdd" resultType="EmpAdd">
        select * from empadd
    </select>

    <select id="getEmpAddListForHrManagement" parameterType="map" resultType="EmpAdd">
        SELECT empadd.cd_emp, emp.nm_krname, emp.job_ok
        FROM empadd
        INNER JOIN (
        SELECT cd_emp, nm_krname, job_ok
        FROM EMP
        WHERE JOB_OK = #{jobOk}
        <if test="refYear != null">
            OR EXTRACT(YEAR FROM TO_DATE(DA_RETIRE, 'YYYY-MM-DD')) = #{refYear}
        </if>
        ) emp ON empadd.cd_emp = emp.cd_emp
        <if test="orderRef == 'cdEmp'">
            ORDER BY empadd.CD_EMP
        </if>
        <if test="orderRef == 'nmKrname'">
            ORDER BY emp.nm_krname
        </if>
    </select>

    <select id="getEmpAddByCdEmp" resultType="EmpAdd">
        SELECT * FROM empadd WHERE CD_EMP = #{cdEmp}
    </select>

    <insert id="insertEmpAdd" parameterType="EmpAdd">
        INSERT INTO empadd VALUES (
        #{cdEmp, jdbcType=VARCHAR},          #{nmChName, jdbcType=VARCHAR},
        #{nmEnName, jdbcType=VARCHAR},       #{ynDrawContracts, jdbcType=VARCHAR},
        #{dcMidRetire, jdbcType=VARCHAR},    #{fgWedding, jdbcType=VARCHAR},
        #{fgDisorder, jdbcType=VARCHAR},     #{daBirth, jdbcType=DATE},
        #{strHobby, jdbcType=VARCHAR},       #{nmSpecial, jdbcType=VARCHAR},
        #{tyReligion, jdbcType=VARCHAR},     #{zipHome, jdbcType=VARCHAR},
        #{zipOrgin, jdbcType=VARCHAR},       #{addOrgin1, jdbcType=VARCHAR},
        #{addOrgin2, jdbcType=VARCHAR},      #{mnKeepGarden, jdbcType=NUMERIC},
        #{mnKeepEstate, jdbcType=NUMERIC},   #{fgOwnHouse, jdbcType=VARCHAR},
        #{telOffice1, jdbcType=VARCHAR},     #{telOffice2, jdbcType=VARCHAR},
        #{telOffice3, jdbcType=VARCHAR},     #{telExtens, jdbcType=VARCHAR},
        #{tyMilit, jdbcType=VARCHAR},        #{whyMltOff, jdbcType=VARCHAR},
        #{daMltBegin, jdbcType=DATE},        #{daMltEnd, jdbcType=DATE},
        #{fgMltType, jdbcType=VARCHAR},      #{nmMltBranc, jdbcType=VARCHAR},
        #{strMltDisch, jdbcType=VARCHAR},    #{cdMltRank, jdbcType=VARCHAR}),
        #{fgMltType, jdbcType=VARCHAR},      #{nmMltBranc, jdbcType=VARCHAR},
        #{noSocial, jdbcType=VARCHAR},      #{fgSex, jdbcType=VARCHAR},
        #{cdDept, jdbcType=VARCHAR},      #{rankNo, jdbcType=VARCHAR},
        #{daEnter, jdbcType=VARCHAR},      #{daRetire, jdbcType=VARCHAR}),
        #{telHome1, jdbcType=VARCHAR},     #{telHome2, jdbcType=VARCHAR},
        #{telHome3, jdbcType=VARCHAR},       #{celEmp1, jdbcType=VARCHAR},
        #{celEmp2, jdbcType=VARCHAR},       #{celEmp3, jdbcType=VARCHAR}
    </insert>

    <delete id="deleteEmpByCdEmp" parameterType="EmpAdd">
        DELETE FROM empadd WHERE CD_EMP = #{cdEmp}
    </delete>

    <update id="updateEmpAddByCdEmp" parameterType="EmpAdd">
        UPDATE empadd
        <set>
            <if test="nmChName != null">NM_CHNAME = #{nmChName},</if>
            <if test="nmEnName != null">NM_ENNAME = #{nmEnName},</if>
            <if test="ynDrawContracts != null">YN_DRAWCONTRACTS = #{ynDrawContracts},</if>
            <if test="dcMidRetire != null">DC_MIDRETIRE = #{dcMidRetire},</if>
            <if test="fgWedding != null">FG_WEDDING = #{fgWedding},</if>
            <if test="fgDisorder != null">FG_DISORDER = #{fgDisorder},</if>
            <if test="daBirth != null">DA_BIRTH = #{daBirth},</if>
            <if test="strHobby != null">STR_HOBBY = #{strHobby},</if>
            <if test="nmSpecial != null">NM_SPECIAL = #{nmSpecial},</if>
            <if test="tyEmploy != null">TY_EMPLOY = #{tyEmploy},</if>
            <if test="tyReligion != null">TY_RELIGION = #{tyReligion},</if>
            <if test="zipHome != null">ZIP_HOME = #{zipHome},</if>
            <if test="zipOrgin != null">ZIP_ORGIN = #{zipOrgin},</if>
            <if test="addOrgin1 != null">ADD_ORGIN1 = #{addOrgin1},</if>
            <if test="addOrgin2 != null">ADD_ORGIN2 = #{addOrgin2},</if>
            <if test="mnKeepGarden != null">MN_KEEPGARDEN = #{mnKeepGarden},</if>
            <if test="mnKeepEstate != null">MN_KEEPESTATE = #{mnKeepEstate},</if>
            <if test="fgOwnHouse != null">FG_OWNHOUSE = #{fgOwnHouse},</if>
            <if test="telOffice1 != null">TEL_OFFICE1 = #{telOffice1},</if>
            <if test="telOffice2 != null">TEL_OFFICE2 = #{telOffice2},</if>
            <if test="telOffice3 != null">TEL_OFFICE3 = #{telOffice3},</if>
            <if test="telExtens != null">TEL_EXTENS = #{telExtens},</if>
            <if test="tyMilit != null">TY_MILIT = #{tyMilit},</if>
            <if test="whyMltOff != null">WHY_MLTOFF = #{whyMltOff},</if>
            <if test="daMltBegin != null">DA_MLTBEGIN = #{daMltBegin},</if>
            <if test="daMltEnd != null">DA_MLTEND = #{daMltEnd},</if>
            <if test="fgMltType != null">FG_MLTTYPE = #{fgMltType},</if>
            <if test="nmMltBranc != null">NM_MLTBRANC = #{nmMltBranc},</if>
            <if test="strMltDisch != null">STR_MLTDISCH = #{strMltDisch},</if>
            <if test="cdMltRank != null">CD_MLTRANK = #{cdMltRank},</if>
            <if test="noSocial != null">NO_SOCIAL = #{noSocial},</if>
            <if test="fgSex != null">FG_SEX = #{fgSex},</if>
            <if test="cdDept != null">CD_DEPT = #{cdDept},</if>
            <if test="cdOffduty != null">CD_OFFDUTY = #{cdOffduty},</if>
            <if test="rankNo != null">RANK_NO = #{rankNo},</if>
            <if test="daEnter != null">DA_ENTER = #{daEnter},</if>
            <if test="daRetire != null">DA_RETIRE = #{daRetire},</if>
            <if test="telHome1 != null">TEL_HOME1 = #{telHome1},</if>
            <if test="telHome2 != null">TEL_HOME2 = #{telHome2},</if>
            <if test="telHome3 != null">TEL_HOME3 = #{telHome3},</if>
            <if test="celEmp1 != null">CEL_EMP1 = #{celEmp1},</if>
            <if test="celEmp2 != null">CEL_EMP2 = #{celEmp2},</if>
            <if test="celEmp3 != null">CEL_EMP3 = #{celEmp3},</if>
        </set>
        WHERE CD_EMP = #{cdEmp}
    </update>

</mapper>