<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.rest.saallowpay.dao.SaAllowPayMapper">

    <!-- 급여리스트 -->
    <select id="getSalAlLowPayListByEmp" parameterType="java.util.Map" resultType="SaAllowPay">
        SELECT d.ALLOW_YEAR, d."MONTH" AS "ALLOW_MONTH", d."DATE" AS "PAYMENT_DATE", s.YN_TAX , p.ALLOW_PAY, s.CD_ALLOW , s.NM_ALLOW , e.CD_EMP
            FROM SAALLOWPAY p LEFT OUTER JOIN SAALLOW s
                ON s.CD_ALLOW = p.CD_ALLOW LEFT OUTER JOIN EMP e
                ON e.CD_EMP = p.CD_EMP LEFT OUTER JOIN "DATE" d
                ON d.DATE_ID = p.DATE_ID
        WHERE 1=1
            AND d.DATE_ID = #{dateId}
            AND e.CD_EMP = #{cdEmp}
        <if test="cdAllow                    != null"> AND s.CD_ALLOW = #{cdAllow} </if>
    </select>

    <!-- 급여자료 입력 -->
    <insert id="insertSalAllowPay" parameterType="SaAllowPay">
        INSERT INTO SAALLOWPAY(
          CD_ALLOW , ALLOW_PAY , CD_EMP  , DATE_ID)
        VALUES (
            #{cdAllow}
            , #{allowPay}
            , #{cdEmp}
            , #{dateId}
        )
    </insert>

    <!-- 급여자료 수정 -->
    <update id="updateSalAllowPay" parameterType="java.util.Map">
        UPDATE SAALLOWPAY
            SET ALLOW_PAY = #{allowPay}
        WHERE CD_EMP = #{cdEmp}
            AND CD_ALLOW = #{cdAllow}
            AND DATE_ID = #{dateId}
    </update>

    <!-- 합계 데이터 조회-->
    <select id="getSalAllowPaySum" parameterType="java.util.Map" resultType="map">
        SELECT
            p.CD_ALLOW AS "cdAllow"
            , (SELECT s.NM_ALLOW FROM SAALLOW s WHERE s.CD_ALLOW = p.CD_ALLOW) AS "nmAllow"
            , a.YN_TAX AS "ynTax"
            , TO_CHAR(sum(p.ALLOW_PAY)) AS "sumAllowPay"
        FROM SAALLOWPAY p LEFT OUTER JOIN SAALLOW a
            ON a.CD_ALLOW  = p.CD_ALLOW LEFT OUTER JOIN EMP e
            ON e.CD_EMP = p.CD_EMP LEFT OUTER JOIN "DATE" d
            ON p.DATE_ID = d.DATE_ID
            <if test="paymentDate   != null and paymentDate    != ''"> AND d."DATE" = #{paymentDate}</if>
            <if test="allowMonth    != null and allowMonth     != ''"> AND d."MONTH" = #{allowMonth}</if>
            <if test="allowYear     != null and allowYear      != ''"> AND d.ALLOW_YEAR = #{allowYear}</if>
            <if test="nowFlag       != null and nowFlag        != ''"> AND e.DA_RETIRE &lt; SYSDATE</if>
        GROUP BY p.CD_ALLOW, a.YN_TAX
    </select>

    <!-- 급여자료 입력-->
    <insert id="insertSalAllowPay" parameterType="SaAllowPay">
        <selectKey keyProperty="dateId" resultType="String" order="BEFORE">
            SELECT DATE_ID
            FROM "DATE"
            WHERE allow_year = #{allowYear}
            AND "MONTH" = #{allowMonth}
            AND "DATE" = #{paymentDate}
        </selectKey>
        <if test="dateId == null">
            <insert id="insertDate" parameterType="SaAllowPay">
                INSERT INTO "DATE" (allow_year, "MONTH", "DATE", DATE_ID)
                VALUES (
                    #{allowYear}
                    , #{allowMonth}
                    , #{paymentDate}
                    , #{allowYear}#{allowMonth}#{paymentDate}
                )
                <selectKey keyProperty="dateId" resultType="String" order="AFTER">
                    RETURNING DATE_ID INTO #{dateId}
                </selectKey>
            </insert>
        </if>
        INSERT INTO SAALLOWPAY(
            CD_ALLOW
            , ALLOW_PAY
            , CD_EMP
            , DATE_ID
        ) VALUES (
            #{cdAllow}
            , #{allowPay}
            , #{cdEmp}
            , #{dateId}
        )
    </insert>

    <!--지급일 리스트(코드도움창) -->
    <select id="getPaymentDateList" parameterType="java.util.Map" resultType="hashmap">
        SELECT "DATE" AS "paymentdate" ,  DATE_ID AS "dateId"
            FROM "DATE" d
        WHERE d.ALLOW_YEAR = #{allowYear}
            AND d."MONTH" = #{allowMonth}
    </select>
</mapper>