<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.rest.swsm.dao.SwsmDao">
    <select id="getAllSwsm" resultType="Swsm">
        SELECT
        emp_code
        FROM SWSM
    </select>

    <insert id="insertSwsm" parameterType="Swsm">
        insert into swsm(emp_code)
        values (#{empCode})
    </insert>

    <update id="updateSwsm">
        update swsm set
        name='lee' where emp_code = (#{empCode})
    </update>

    <delete id="deleteSwsm">
        delete from swsm where emp_code=(#{empCode})
    </delete>
</mapper>