<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.rest.swsm.dao.SwsmOtherDao">
    <select id="getAllSwsmOther" resultType="SwsmOther">
        SELECT
       *
        FROM SWSMOther
    </select>


    <select id="getSwsmOtherByCdEmp" resultType="SwsmOther">
        SELECT
        *
        FROM SWSMOther
        where CD_EMP = #{cdEmp}
    </select>

<!--    <select id="getSwsmOtherListByCdEmp" parameterType="SwsmOther">-->
<!--        SELECT-->
<!--        *-->
<!--        FROM SwsmOther-->
<!--        WHERE cd_emp = #{cdEmp}-->
<!--    </select>-->


<!--    <insert id="insertSwsmOther" parameterType="SwsmOther">-->
<!--        insert into swsmother(other_type ,other_money, cd_emp)-->
<!--        values (#{otherType}, #{otherMoney}, #{cdEmp)-->
<!--    </insert>-->

</mapper>