<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.rest.auth.dao.UserDao">

    <select id="findUser" resultType="UserVo">
        select * from Member where user_id = #{userId}
    </select>

    <select id="findEmail" resultType="UserVo">
        select * from Member where email = #{email}
    </select>

    <insert id="register" parameterType="UserVo">
        INSERT INTO MEMBER
        (
        COMPANY_CODE,
        USER_ID,
        USER_PWD,
        USER_NAME,
        EMAIL,
        PHONE,
        THEME
        )
        VALUES
        (
        #{companyCode, jdbcType=VARCHAR},
        #{userId, jdbcType=VARCHAR},
        #{userPwd, jdbcType=VARCHAR},
        #{userName, jdbcType=VARCHAR},
        #{email, jdbcType=VARCHAR},
        #{phone, jdbcType=VARCHAR},
        #{theme, jdbcType=VARCHAR}
        )
    </insert>

</mapper>